<!DOCTYPE html>
<html>
  <head>
    <title>Kilia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<div class="col-6 col-sm-3">
 <%= link_to 'List of Boots', boots_path, class: 'btn btn-danger btn-large' %>
 <%= link_to 'Invent', new_boot_path, class: 'btn btn-primary text-center' %>

</div>

